= link_to lock_group_board_path(@board, group_id: group), data: {method: :post}, remote: true, class: "btn btn-xs group-lock-btn #{group.locked? ? 'btn-highlight' : 'btn-default'}", title: "Group #{group.locked? ? "Locked" : "Unlocked"}" do
  i class=(group.locked? ? 'icon-lock' : 'icon-unlock')
  - if group.locked?
    = " Locked"
