/*
 *= require_tree ./vendor/
 *= require ./utility
 *= require_self
 */

$my-navbar-height: 3.5em;

@import "bootswatch/united/variables";

$grid-float-breakpoint: 992px; // collapse for xs and sm devices */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootswatch/united/bootswatch";

.is-tagsinput .ts-dropdown{
  // TOM-SELECT HACKS
  display: none !important;
}

.badge-danger{
  background-color: $brand-danger !important;
  color: white !important;
}

.navbar{
  font-size: 1.1em;
  min-height: $my-navbar-height;

  .navbar-brand{
    font-size: 1.5em;
    font-family: monospace;
    padding: 8px 15px; 
    &:hover{
      color: initial;
    }
  }

  .navbar-nav li a, .navbar-brand{
    line-height: $my-navbar-height/2;
  }
}


.alert{
  .close{
    opacity: 0.6;
    &:hover{
      opacity: 0.8;
    }
  }
}

h1, h2, h3, h4, h5{
  color: #424242;
}

body{
  background-color: #F5F6F6;
  padding-top: 80px;
  padding-bottom: 20px;
}

label{
  margin-right: 10px;
}

footer{
  position: fixed;
  text-align: center;
  bottom: 10px;
  right: 0;
  left: 0;
}

.btn-default{
  border-color: gray;
  background-color: gray;
  background-image: none;
}
