/*
 *= require ./utility
 *= require_self
 */

:root{
  --navbar-height: 3.5em;
}

.navbar{
  font-size: 1.1em;
  min-height: var(--navbar-height);
}

.navbar .navbar-brand{
  font-size: 1.5em;
  font-family: monospace;
  padding: 8px 15px;
}

.navbar .navbar-brand:hover{
  color: initial;
}

.navbar .navbar-nav li a, .navbar-brand{
  line-height: var(--my-navbar-height)/2;
}

.alert .close{
  opacity: 0.6;
}

.alert .close:hover{
  opacity: 0.8;
}

h1, h2, h3, h4, h5{
  color: #424242;
}

body{
  background-color: #F5F6F6;
  padding-top: 80px;
  padding-bottom: 20px;
}

label{
  margin-right: 10px;
}

footer{
  position: fixed;
  text-align: center;
  bottom: 10px;
  right: 0;
  left: 0;
}

.btn-default{
  border-color: gray;
  background-color: gray;
  background-image: none;
}

@media(max-width: 768px){
  .form-inline .form-control{
    display: inline-block;
    width: initial;
  }
}
